.community {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.community__elems {
  display: block;
  font-size: 64px;
  line-height: 77px;
  flex-grow: 1;
  flex-basis: 100%;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 160px;
    width: 450px;
    background-image: url("../img/icon-arrow-right-small.svg");
    background-repeat: no-repeat;
    top: 80px;
    right: 55px;
  }
}

.community__comments {
  font-size: 64px;
  line-height: 77px;
  margin: 0;
  margin-left: auto;
  margin-right: 100px;
  padding: 0;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 180px;
    width: 450px;
    background-image: url("../img/icon-arrow-left-small.svg");
    background-repeat: no-repeat;
    top: -110px;
    right: 350px;
  }
}

.community__title {
  font-weight: bold;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 114px;
  padding: 58px;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 15px;
  text-transform: uppercase;
  border-radius: 15px;
  background: linear-gradient(317.94deg, #AFA1FF 14.28%, #D3CBFF 35.29%, #8774B5 65.52%, #AFA1FF 100%);
  color: $purple;

  &:active {
    color: $cyan;
  }
}


@media (min-width: $desktop-width) {
  .community {
    display: none;
  }
}
