.footer__nav {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0;
}

.footer__link {
  font-size: 44px;
  line-height: 77px;
  text-transform: uppercase;
}

.footer__lang-btn {
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
  color: currentcolor;
  font-size: 36px;
  line-height: 43px;
}

.footer__contacts {
  background-image: url('../img/footer.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 200px;

  &::before {
    content: "";
    position: absolute;
    height: 175px;
    width: 131px;
    left: 35px;
    top: 25px;
    background-image: url('../img/jantout.png');
    background-repeat: no-repeat;
  }
}

.footer__contacts-email {
  color: $black;
  display: flex;
  align-items: center;
  font-size: 48px;
  line-height: 58px;
  font-weight: bold;
  margin: 0;
  margin-left: 180px;

  p {
    margin: 0;
    padding: 0;
  }
}

.footer__contacts-phone {
  display: flex;
  flex-wrap: wrap;
  color: $purple;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  margin-top: 20px;
  margin-left: 200px;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    margin-left: 20px;

    &:last-child {
      flex-grow: 1;
      flex-basis: 100%;
      margin-left: 345px;
    }
  }
}
