.header__title {
  display: none;
}

.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}

.header__lang-btn {
  border: 0;
  background: transparent;
  font-size: 32px;
  line-height: 43px;
  color: $cyan;
  text-transform: uppercase;

  &:focus,
  &:hover {
    color: $cyandark;
  }

  &:active {
    color: $cyan;
    opacity: 0.3;
  }
}
