.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-image: url('../img/mobile-bg2.jfif');
  background-position: center;
  background-color: $black;
  background-repeat: no-repeat;
  color: $cyan;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  overflow-x: hidden;
}

@media(min-width: $desktop-width) {
  .page-body {
    background-image: url('../img/bg2.jfif');
  }
}
