.page-body {
  display: grid;
  grid-template-rows: min-content max-content min-content;
  background-image: url('../img/bg2.jfif');
  background-position: center top;
  background-size: 80%;
  background-color: $black;
  background-repeat: no-repeat;
  color: $cyan;
  margin: 0;
  font-family: "Lato", "Open Sans", sans-serif;
  overflow-x: hidden;
}

@media(max-width: $mobile-width-only) {
  .page-body {
    background-image: url('../img/mobile-bg2.jfif');
    background-size: cover;
  }
}
