.portfolio {
  margin-top: 48px;
}

.portfolio__title {
  text-transform: uppercase;
  font-size: 64px;
  line-height: 77px;
  font-weight: bold;
  background: linear-gradient(90deg, #1F998D 0%, #1F998D 18.16%, #004C55 89.57%, #002B45 100%);
  margin: 0;
  margin-bottom: 36px;
  padding-left: 145px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 908px;
  letter-spacing: 45px;
  position: relative;

  &::before {
    position: absolute;
    right: -32px;
    top: -26px;
    content: "";
    width: 245px;
    height: 48px;
    background: linear-gradient(327.76deg, #AFA1FF 0%, #D3CBFF 24.51%, #8774B5 59.78%, #AFA1FF 100%);
    z-index: -1;
  }

  &::after {
    position: absolute;
    right: 91px;
    bottom: -26px;
    content: "";
    width: 245px;
    height: 48px;
    background: linear-gradient(327.76deg, #AFA1FF 0%, #D3CBFF 24.51%, #8774B5 59.78%, #AFA1FF 100%);
    z-index: -1;
  }
}

.portfolio__slogan {
  font-size: 64px;
  line-height: 77px;
  color: $cyandark;
  margin: 0;
  padding: 0;
}

.portfolio__skills-title,
.portfolio__link {
  max-width: 520px;
  color: $linkcyan;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  margin: 0;
  padding: 0;
  background: linear-gradient(33.3deg, #99FFFF 0%, #00D0B5 19.65%, #00D0B5 58.75%, #99FFFF 98.14%, #BCB0FF 100%);
}

.portfolio__skills {
  font-size: 64px;
  line-height: 77px;
  margin: 0;
  margin-top: 76px;
  padding: 0;
}

.portfolio__link {
  max-width: 300px;
  display: block;
  margin-right: 20px;
  margin-left: auto;
  margin-top: 76px;
}

.portfolio__previw {
  height: 1140px;
  width: 800px;
  border: 7px solid $purple;
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 37px;
}

.portfolio__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}

.portfolio__seemore {
  font-size: 64px;
  line-height: 77px;
  margin: 0;
  padding: 0;
}
