.shiv__title {
  color: $lilac;
  font-size: 72px;
  line-height: 86px;
  font-weight: bold;
  text-align: center;
}

/*.shiv__description {
  color: $lilac;
  font-size: 64px;
  line-height: 77px;
  margin: 0;
  padding: 40px 14px;
  padding-top: 30px;
  border: 5px solid $purple;
  border-radius: 20px;
  text-align: center;
}*/

.shiv__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 50px;
  align-items: center;
}

.shiv__seemore {
  font-size: 64px;
  line-height: 77px;
  margin: 0;
  padding: 0;
}

.shiv__preview {
  display: flex;
  justify-content: space-between;
  margin: 82px 20px;
}

.shiv__preview-block {
  margin: 0 auto;
  margin-top: 30px;
  border: 5px solid $purple;
  border-radius: 20px;
  height: 800px;
  width: 930px;
}

.shiv__preview-likebtn,
.shiv__preview-dislikebtn,
.shiv__preview-share {
  background: transparent;
  border: 0;
}

.shiv__preview-likes,
.shiv__preview-dislikes {
  display: flex;
  height: 87px;
  width: 147px;
  border-radius: 10px;
  border: 3px solid $lilac;
  justify-content: center;
}

.shiv__preview-likes-count,
.shiv__preview-dislikes-count {
  font-size: 64px;
  line-height: 77px;
  color: $lilac;
}

.shiv__recent-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  color: $lilac;
  text-transform: uppercase;
  text-align: center;
}

.shiv__recent-preview {
  margin: 0 auto;
  border: 5px solid $purple;
  border-radius: 20px;
  height: 750px;
  width: 950px;
}

/*.shiv__preview-nav {
  display: flex;
  flex-direction: column;
}

/*.shiv__preview-seemore {
  font-size: 64px;
  line-height: 77px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: 0;
  padding: 0;
}*/
