.shiv__title {
  color: $lilac;
  font-size: 72px;
  line-height: 86px;
  font-weight: bold;
  text-align: center;
}

.shiv__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 50px;
  align-items: center;
}

.shiv__desktop-panel,
.shiv__gallery {
  display: none;
}

.shiv__seemore {
  font-size: 64px;
  line-height: 77px;
  margin: 0;
  padding: 0;

  &:active {
    color: $lilac;
  }
}

.shiv__preview {
  display: flex;
  justify-content: space-between;
  margin: 82px 20px;
}

.shiv__preview-block {
  margin: 0 auto;
  margin-top: 30px;
  border: 5px solid $purple;
  border-radius: 20px;
  height: 800px;
  width: 930px;
}

.shiv__preview-likebtn,
.shiv__preview-dislikebtn,
.shiv__preview-share {
  background: transparent;
  border: 0;
}

.shiv__preview-likes,
.shiv__preview-dislikes {
  display: flex;
  height: 87px;
  width: 147px;
  border-radius: 10px;
  border: 3px solid $lilac;
  justify-content: center;
}

.shiv__preview-likes-count,
.shiv__preview-dislikes-count {
  font-size: 64px;
  line-height: 77px;
  color: $lilac;
}

.shiv__recent-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  color: $lilac;
  text-transform: uppercase;
  text-align: center;
}

.shiv__recent-preview {
  margin: 0 auto;
  border: 5px solid $purple;
  border-radius: 20px;
  height: 750px;
  width: 950px;
}

@media (min-width: $desktop-width)  {
  .shiv {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 1191px;
      left: 0;
      top: -80px;
      background: linear-gradient(275.7deg, #1F998D 0%, #1F998D 37.9%, #025259 74.02%, #004C55 81.01%, #004E56 89.08%, #00555B 92%, #006064 94.07%, #007170 95.75%, #008780 97.18%, #00A394 98.46%, #00C2AB 99.58%, #002B45 100%);
    }
  }

  .shiv__desktop-panel {
    display: flex;
    margin-top: 100px;
    align-items: center;
    color: $lilac;
    justify-content: center;
  }

  .shiv__community {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    margin-right: 64px;
  }

  .shiv__signin {
    font-size: 36px;
    line-height: 43px;
    margin-right: 198px;
  }

  .shiv__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 135px;
      height: 135px;
      background-image: url("../img/icon-circle.svg");
      background-repeat: no-repeat;
      top: -40px;
      left: -25px;
    }
  }

  .shiv__preview,
  .shiv__preview-block,
  .shiv__recent{
    display: none;
  }

  .shiv__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
  }

  .shiv__gallery-btn {
    background: 0;
    border: 0;
    cursor: pointer;
  }

  .shiv__pieces {
    display: flex;
  }

  .shiv__pieces-elems {
    width: 320px;
    height: 347px;
    border: 5px solid $purple;
    border-radius: 20px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}
