.write-us {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.write-us__feedback {
  font-size: 54px;
  line-height: 65px;
  padding: 20px 80px 27px 100px;
  text-align: center;
  position: relative;
  background: linear-gradient(275.7deg, #1F998D 0%, #1F998D 37.9%, #025259 74.02%, #004C55 81.01%, #004E56 89.08%, #00555B 92%, #006064 94.07%, #007170 95.75%, #008780 97.18%, #00A394 98.46%, #00C2AB 99.58%, #002B45 100%);

  &::before {
    position: absolute;
    content: '';
    background-image: url('../img/at.svg');
    background-repeat: no-repeat;
    width: 58px;
    height: 66px;
    top: 25px;
    left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .write-us__feedback {
    font-size: 36px;
    line-height: 43px;
    display: block;
    min-width: 100%;

    &::before {
      top: 10px;
      left: 20%;
    }
  }
}
