img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentcolor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
}

.hidden {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .container {
    max-width: 280px;
  }
}

@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/latolight.woff2") format("woff2"), url("../fonts/latolight.woff") format("woff");
}
